data/2019_atbats.csv filter=lfs diff=lfs merge=lfs -text
data/2019_games.csv filter=lfs diff=lfs merge=lfs -text
data/2019_p_stats.csv filter=lfs diff=lfs merge=lfs -text
data/2019_pitches.csv filter=lfs diff=lfs merge=lfs -text
data/player_names.csv filter=lfs diff=lfs merge=lfs -text
